@import "../base/global";

.social{
    --social-item-color: #{$color-font};
    --scial-gap: #{$gap-l};
    --social-display: flex;
    @include flex-set(var(--social-display), column, wrap, var(--scial-gap), center, center, center);
    @include position(100%, $gap-xl, 0, calc(-140%));
    position: fixed;
    z-index: 999;

    @include res-max-tablet{
        --social-display: none;
    }

    @include res-max-mobile-l{
        --scial-gap: #{$gap-m};
    }

    &--visible{
        @include res-max-tablet{
            --social-display: flex;
        }    
    }

    &__item{
        --item-scale: 1;   
        @include transition(transform);
        position: relative;
        display: block;
        width: $gap-xxl;
        min-width: $gap-xxl;  
        aspect-ratio: 1 / 1;
        text-decoration: none;
        transform: scale(var(--item-scale));
        
        &:hover{
            --item-scale: 1.1;
            --social-item-color: #{$color-primary};
            --item-color: var(--color-primary);
        }
        
        > .icon{
            --icon-size: #{$gap-xxl};
            @include position;
            @include transition(fill);
            fill: var(--social-item-color);       
        }
    }
}