@import "../base/global";
.contact {
    &__sec {
        --sec-padding-y: 6vh;
        --sec-padding-x: calc(calc(25% / 2) + #{$gap-xxl});
        --sec-gap: #{$gap-xl};
        @include grid-columns(
            def,
            minmax($gap-l, 8fr) minmax($gap-l, 5fr),
            var(--sec-gap),
            flex-end,
            flex-start,
            stretch
        );
    
        position: relative;
        height: calc(100vh - var(--footer-height));
        max-height: 2048px;
        padding: var(--sec-padding-y) var(--sec-padding-x);
        background-color: $color-footer-bg;
        color: $color-white;
        z-index: 2;  

        @include res-max-laptop-l {
            --sec-padding-x: calc(10% + #{$gap-xxl});
        }
        
        @include res-max-laptop-s {
            --sec-padding-x: calc(calc(15% / 2) + #{$gap-xxl});
        }
        
        @include res-max-tablet {
            --sec-padding-x: #{$gap-xxl}
        }

        @include res-max-mobile-l{
            --sec-padding-x: #{$gap-xl};
        }
    
        @include res-max-mobile-m{
            --sec-padding-x: #{$gap-l};
        }
    }

    &__map {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;

        .gmnoprint, .gm-style-cc, img[alt="Google"]{
            display: none;
        }
    }

    &__map-pop-up{
        color: var(--color-secondary);
    }

    &__title {
        margin: 0;
        font-size: 5rem;
        z-index: 2;
    }

    &__form {
        position: relative;
        bottom: -22vh;
        padding: 6rem 4rem;
        background: $color-white;
        color: $color-black;
        overflow: hidden;
        z-index: 2;

        >h3{
            margin-bottom: $gap-l;
            font-size: x-large;
        }

        >p{
            font-size: medium;
        }
    }

    &__item {
        position: relative;
        display: block;
        width: 10rem;
        min-width: 10rem;
        height: 10rem;
        background-color: $color-footer-bg;
        border-radius: 100%;
        color: $color-white;

        > .icon {
            --icon-size: 50%;
            @include center-item;
        }
    }
}
