@import "../base/global";

.contact {
    &__sec {
        @include grid-columns(
            def,
            minmax($gap-m, 1fr),
            $gap-l,
            stretch,
            flex-start,
            stretch
        );
        position: relative;
        min-height: 70vh;
        max-height: 2048px;
        padding: 6vh 0;
        background-color: $color-footer-bg;
        color: $color-white;

        > .container {
            @include grid-columns(
                def,
                minmax($gap-l, 8fr) minmax($gap-l, 5fr),
                $gap-xl,
                stretch,
                flex-start,
                stretch
            );
            position: relative;

         > .relative{
                grid-column-start: 2;
            }
        }
    }
    

    &__map {
        position: absolute;
        width: 100%;
        height: 100%;

        .gmnoprint, .gm-style-cc, img[alt="Google"]{
            display: none;
        }
    }
    &__map-pop-up{
        color: var(--color-secondary);
    }

    &__title {
        position: absolute;
        bottom: $gap-l;
        margin: 0;
        font-size: 5rem;
    }

    &__form {
        position: absolute;
        top: 3vh;
        width: 100%;
        padding: 6rem 4rem;
        background: $color-white;
        color: $color-black;
        overflow: hidden;

        >h3{
            margin-bottom: $gap-l;
            font-size: x-large;
        }

        >p{
            font-size: medium;
        }
    }

    &__item {
        position: relative;
        display: block;
        width: 10rem;
        min-width: 10rem;
        height: 10rem;
        background-color: $color-footer-bg;
        border-radius: 100%;
        color: $color-white;

        > .icon {
            --icon-size: 50%;
            @include center-item;
        }
    }
}
