@import "../base/global";

.content-scroll{
    overflow: auto;
   @include res-min-tablet{
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    > *{
        scroll-snap-align: start;
    }
   }
}