@import "../base/global";

header{
    position: relative;
}

.header {    
    &__container{
        --col-count: 2;
        --col-gap: 0;
        @include grid-columns(def, repeat(var(--col-count), minmax($gap-l, 1fr)), var(--col-gap), stretch, center, stretch);
        position: relative; 
        min-height: 100vh;
        max-height: $height-4k;
        background-image: linear-gradient(to right, $color-black 50%, $color-primary 50%, $color-primary 100%); 
        overflow: hidden;      
    }

    &__content{    
        --content-gap: 10vh;
        --content-color: #{$color-white};  
        --content-z-index: 2;
        --bg-opacity: .5;
        --bg-blur: #{$gap-l};
        @include flex-set(def, column, wrap, var(--content-gap), center, center, center);     
        position: relative;
        color: var(--content-color);
        z-index: var(--content-z-index);  

        &:hover{
            --bg-opacity: .6;
            --bg-blur: 2px;
        }
        &--tattoo{
            --content-bg: url('../images/backgrounds/bg-tattoo.png');
        }

        &--visuals{
            --content-bg: url('../images/backgrounds/bg-visuals.png');
        }

        &:after{
            @include center-item;
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            background-image: var(--content-bg);
            opacity: var(--bg-opacity);
            filter: blur(var(--bg-blur));
            transition: opacity .5s ease-in-out, filter .5s ease-in-out;
            z-index: -1;
        }

        >p{
            margin-bottom: var(--content-gap);
            font-size: x-large;
            font-weight: 300;
        }        
    }

    &__title{
        @include border('tb', 1px, currentColor);
        padding: $gap-l 4.8rem $gap-l $gap-xxl;
        font-size: 10rem;
        font-weight: 100;
        color: currentColor;
    }
}
