@import "../base/global";

header{
    position: relative;
}

.header {    
    &__container{
        --anim-length: .5s;
        --col-count: 2;
        --col-gap: 0;
        --header-height: 100vh;
        @include grid-columns(grid, repeat(var(--col-count), minmax($gap-l, 1fr)), var(--col-gap), stretch, center, stretch);
        position: relative; 
        height: var(--header-height);
        max-height: $height-4k;
        // background-image: linear-gradient(to right, $color-black 50%, var(--color-white) 50%, var(--color-white) 100%); 
        background-color: $color-bg-darken;
        overflow: hidden; 
        
        @include res-max-tablet{
            --col-count: 1;
            --header-height: calc(100vh - var(--nav-height));
            margin-top: var(--nav-height);
        }
    }

    &__content{    
        --content-gap: 10vh;
        --content-color: #{$color-font};  
        --content-z-index: 2;
        --bg-opacity: .55;
        --bg-blur: #{$gap-m};
        @include flex-set(flex, column, wrap, var(--content-gap), center, center, center);
        position: relative;     
        padding: 0 $gap-l;
        color: var(--content-color);
        z-index: var(--content-z-index);  

        @include res-max-tablet{
            --content-gap: 6vh;
        }

        &:hover{
            --bg-opacity: .65;
            --bg-blur: 0;
        }

        &--tattoo{
            --content-bg: url('https://res.cloudinary.com/lukaschylik/image/upload/v1647496692/thelucie.ink/backgrounds/header/tattoo_jzini9.webp');
        }

        &--visuals{
            --content-bg: url('https://res.cloudinary.com/lukaschylik/image/upload/v1647496694/thelucie.ink/backgrounds/header/visuals_yazjik.webp');
        }

        &:after{
            @include position;
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            background-image: var(--content-bg);
            background-position: center center;
            background-size: cover;
            opacity: var(--bg-opacity);
            filter: blur(var(--bg-blur));
            transition: opacity .5s ease-in-out, filter .5s ease-in-out;
            z-index: -1;
        }

        >p{
            --desc-mg-bottom: var(--content-gap);
            margin-bottom: var(--desc-mg-bottom);
            font-size: clamp(16px, 2.5vh, $gap-xl);
            font-weight: 100;
            text-align: center;

            @include res-max-tablet{
                --desc-mg-bottom: #{$gap-xl};
            }

            @include res-max-mobile-s{
                --desc-mg-bottom: 0;
            }
        }        
    }

    &__title{    
        --title-min-width: 36rem;
        --title-font-size: 10vh;
        --title-pad-y: #{$gap-xl};
        position: relative;      
        min-width: var(--title-min-width);
        padding: var(--title-pad-y) $gap-xxl;
        opacity: 0;
        font-family: $font-title;
        font-size: clamp($gap-xxl, var(--title-font-size), 10rem);
        font-weight: 100;
        line-height: 1;
        color: currentColor;
        text-align: center;
        animation: fadeIn var(--anim-length) forwards linear;
        animation-delay: calc(var(--anim-length) / 2);
        transform: translateY($gap-l);

        @include res-max-laptop-m{
            --title-min-width: 30rem;
        }

        @include res-max-laptop-s{
            --title-min-width: 25rem;
        }

        @include res-max-tablet{
            --title-min-width: 36rem;
        }

        @include res-max-mobile-l{
            --title-min-width: 26rem;
            --title-font-size: 8vh;
            --title-pad-y: #{$gap-l};
        }

        @include res-max-mobile-m{
            --title-min-width: 22rem;
        }

        &:after{
            @include position;
            @include border('tb', 1px, currentColor);
            display: block;
            content: "";
            width: 100%;
            height: 100%;
            animation: showLines var(--anim-length) forwards linear;
            animation-delay: var(--anim-length);
            transform: translate(-50%, -50%) scaleX(0);
        }

        + p{
            opacity: 0;
            animation: fadeIn var(--anim-length) forwards linear;
            animation-delay: calc(var(--anim-length) * 1.5);
            transform: translateY($gap-m);
            + .link{
                opacity: 0;
                animation: fadeIn var(--anim-length) forwards linear;
                animation-delay: calc(var(--anim-length) * 2);
                transform: translateY($gap-m);
            }
        }
    }
}


@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY($gap-m);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showLines{
    from{
        transform: translate(-50%, -50%) scaleX(0);
    }

    to{
        transform: translate(-50%, -50%) scaleX(1);
    }
}