@import "../base/global";

header{
    position: relative;
    background-color: $color-bg;
    overflow: hidden;

    &:after{
        position: absolute;
        top: 50%;
        left: 0;
        content: '';
        width: 50vw;
        background-image: url('../images/backgrounds/butterfly-bg.png');
        background-repeat: no-repeat;
        background-position: center center;
        transform: translate(-50%, -50%);
        aspect-ratio: 1 / 1;
        background-size: contain;
    }
}

.header {    
    &__container{
        --col-count: 2;
        --gap: 8rem;
        @include grid-columns(def, repeat(var(--col-count), minmax($gap-l, 1fr)), var(--gap), stretch, center, stretch);
        position: relative;
        height: 100vh;
        max-height: $width-4k;
        z-index: 10;  
    }

    &__content{
        @include flex-set(def, column, wrap, $gap-xxl, flex-start, center);     
    }

    &__title{
        @include grid-rows(def, auto, $gap-s, stretch);
        font-size: 8rem;
        line-height: 1;
        color: $color-primary;

        >*{
            line-height: inherit;
        }

        >h1{
            font-size: 1.1em;     
            line-height: 1;   
        }

        >strong{
            font-family: $font-highlight;
            font-size: .35em;
            text-transform: uppercase;
        }

        >p{
            margin-top: $gap-xl;
            margin-bottom: $gap-xxl;
            font-size: .3em;   
            line-height: 1.5;
            color: $color-white;

            > strong{
                font-family: $font-text;
                color: $color-primary;
            }
        }
    }

    &__photo{
        position: relative;

        &:before{
            position: absolute;
            bottom: .3%;
            left: 50%;
            content: '';
            width: 100%;
            margin: 0 auto;
            background: radial-gradient($color-primary--lighten, $color-primary);
            border-radius: 50%;
            transform: translateX(-50%);
            z-index: 1;
            aspect-ratio: 1 / 1;
            box-shadow: 3rem 3.3rem 10rem 0 rgba($color: black, $alpha: .3);
        }

        > img{  
            position: relative;
            display: block;
            width: 100%;      
            z-index: 2;
        }
    }
}
