@import "../Base/global";


.nav{  
    --nav-color: var(--color-white);
    --nav__menu-display: none;
    @include flex-set(def, row, nowrap, $gap-xl, center, space-between);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    padding: 0 $gap-xl;
    color: var(--nav-color);
    z-index: 999;

    &--dark{
        --nav-color: var(--color-black);
    }

    &--menu-open{
        --nav-color: var(--color-white);
    }

    ul{
        padding: 0;
        list-style: none;
    }

    &__right{
        --menu-gap: #{$gap-xl};
        @include flex-set(inline, row, wrap, var(--menu-gap), center);
        list-style: none;

        a {
            @include transition(color);
            display: block;
            font-family: $font-text;
            font-size: medium;
            color: var(--nav__item-color);
            text-decoration: none;
            text-transform: uppercase;
            white-space: nowrap;   

            &:hover{
                --nav__item-color: var(--color-primary);
                text-decoration: underline;      
            }
        }
    }

    &__menu{ 
        @include flex-set(def, column, nowrap, 0, center, center, center);
        position: fixed;
        top: 0;
        left: 0;
        display: var(--nav__menu-display);    
        width: 100vw;
        background: $color-black;
        opacity: 0;     
        z-index: -1;

        &--open{
            --nav__menu-display: flex;
            animation: showMenu .5s forwards;
            animation-delay: .1s;  
        }
    }

    &__options{
        --col-count: 4;
        @include grid-columns(def, repeat(var(--col-count), minmax($gap-l, 1fr)), 0, stretch, center, stretch);
        width: 90%;
        height: 100vh;
        list-style: none;  
        @include res-max-tablet{
            --col-count: 1;
        }
    }
    
    &__item {
        --color-tb: #{$color-black}; 
        --filter-blur: blur(#{$gap-l});
        --filter-grayscale: grayscale(1);
        position: relative;
        display: block;
        overflow: hidden;

        @include res-max-tablet{
            --color-tb: #{$color-black--trans-dark}; 
            --filter-blur: blur(0);
        }

        &:hover{
            --filter-blur: blur(0);
            --filter-grayscale: grayscale(0);
            --nav__item-color: var(--color-primary);

            @include res-max-tablet{
                --filter-grayscale: grayscale(1);
                --nav__item-color: var(--color-white);

            }
        }

        &:before{
            @include transition(filter);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            content: '';
            background-repeat: no-repeat;
            background-position: center;   
            filter: var(--filter-blur) var(--filter-grayscale);
            background-size: cover;
        }  

        &:after{
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, var(--color-tb) 10%, $color-black--trans 50%, var(--color-tb) 90%);    
            z-index: 5; 
        }

        &:nth-child(1):before{

            background-image: url('../images/backgrounds/menu/dotwork-bg.webp')
        }

        &:nth-child(2):before{
            background-image: url('../images/backgrounds/menu/handpoke-bg.webp')
        }

        &:nth-child(3):before{
            background-image: url('../images/backgrounds/menu/abstraction-bg.webp')
        }

        &:nth-child(4):before{
            background-image: url('../images/backgrounds/menu/lettering-bg.webp');
        }    

        > a{
            --text-width: 50%;       
            position: relative;
            display: block;
            height: 100%;
            color: currentColor;
            text-decoration: none;    
            z-index: 10;
        }

        strong{
            --item-font-size: xx-large;
            @include transition(color);
            position: absolute;
            bottom: $gap-xxl;
            left: $gap-xl;
            max-width: var(--text-width);
            font-size: var(--item-font-size);
            color: var(--nav__item-color);
            white-space: break-spaces;
            z-index: 10;
            @include res-max-laptop-l{
                --item-font-size: x-large;
            }

            @include res-max-laptop-s{
                --item-font-size: large;
            }

            @include res-max-tablet{
                --item-font-size: xx-large;
            }
        }
    }
}

@keyframes showMenu{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}