@import "../Base/global";


.nav{  
    --nav-color: #{$color-white};
    --nav-bg-color: {--color-trans};
    --nav-menu-display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    padding: 0 $gap-xl;
    background-color: $color-trans;
    color: var(--nav-color);
    z-index: 999;

    &--menu-open{
        --nav-color: var(--color-white);
    }

    &__logo{
        @include border;
        height: 5rem;
        aspect-ratio: 4 / 1.5;
        background: $color-font;
    }

    &__menu{
        --menu-gap: #{$gap-xxl};
        @include center-item;
        @include grid-columns(def, repeat(auto-fit, minmax(130px, auto)), var(--menu-gap), center, center, center);
        width: 100%;
        padding-left: 0;
        list-style: none;
            &--open{
                
            }
                    
            a {
            @include transition(color);
            display: block;
            font-family: $font-highlight;
            font-size: large;
            color: var(--nav-color);
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            white-space: nowrap;   

            &:hover{
                --nav__item-color: var(--color-primary);
                text-decoration: underline;      
            }
        }

        >li{
            // @include res-max-mobile-l{
            //     display: none;
            // }
        }
    }
}

@keyframes showMenu{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}