@import "mixins/border";
@import "Mixins/grid";
@import "Mixins/flex";
@import "Mixins/font-face";
@import "Mixins/responsive";
@import "Mixins/transition";

@mixin center-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
