* {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    padding: 0; 
    margin: 0;
    background-image: url('../images/backgrounds/main-bg.webp');
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    font-family: var(--font-text);
    background-size: cover;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

address{
    font-style: normal;
}