@import "mixins";

.element-to-middle {
    @include position;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.uppercase {
    text-transform: uppercase;
}

.relative {
    position: relative;
}

.tablet-content {
    display: none;

    @include res-max-tablet {
        display: block;
    }
}

.no-tablet-content {
    @include res-max-tablet {
        display: none;
    }
}

.mobile-content {
    display: none !important;

    @include res-max-mobile-l {
        display: block !important;
    }
}

.no-mobile-content {
    @include res-max-mobile-l {
        display: none;
    }
}

*.overflow-hidden {
    overflow: hidden;
}

.inline-flex {
    display: inline-flex;
}

.inline-block {
    display: inline-block;
}

.invisible{
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    font-size: 0;
    z-index: -999;
}