@import "../Base/global";

h1 {
    margin-bottom: 2rem;
    font-size: xx-large;
}

h2 {
    margin-bottom: 2rem;
    font-size: x-large;
}

h3 {
    font-size: large;
}

h4 {
    font-size: medium;
}

h5 {
    font-size: small;
}

h6 {
    font-size: x-small;
}

span, a {
    font-size: medium;

    @include res-max-mobile-l {
        font-size: small;
    }
}

p {
    font-size: medium;
}

small {
    font-size: xx-small;
}

.title{
    margin-bottom: $gap-xxl;
    font-family: $font-title;
    font-size: 5.6rem;
    font-weight: 400;
    color: $color-black;
}

.desc{
    --border-width: 0;
    --padding: 0;
    @include border('left');
    padding: var(--padding);
    padding-right: 0;
    font-size: large;
    line-height: 1.8;
    
    &--line{
        --padding: #{$gap-l};
        --border-width: .3rem;
    }
}