@import "../Base/global";

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, strong {
    font-family: $font-title;
}

p, span, small{
    font-family: $font-text;
    *{
        font-weight: inherit;
    }
}

.title{
    @include flex-set;
    margin-bottom: $gap-xxl;
    font-family: $font-title;
    font-size: 5.6rem;
    color: $color-black;
}

.desc{
    --border-width: 0;
    --padding: 0;
    @include border('left', .2rem, var(--color-black));
    padding: var(--padding);
    padding-right: 0;
    margin-bottom: 5rem;
    font-family:  $font-text;
    font-size: large;
    line-height: 1.8;
    
    &--line{
        --padding: #{$gap-l};
        --border-width: .3rem;
    }
}