@import "../Base/global";

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-title;
    font-weight: 400;
    font-style: normal;
}

p, span, small{
    font-family: $font-text;
}

.title{
    --title-justify-content: center;
    --title-font-size: 6.4em;
    --title-color: #{$color-font};
    --title-mg-bottom: #{$gap-xl}; 
    --title-justify-content: center;
    @include flex-set(flex, row, wrap, 0, center, var(--title-justify-content));
    margin-bottom: var(--title-mg-bottom);
    font-family: $font-title;
    font-size: var(--title-font-size);
    color: var(--title-color);

    &--left{
        --title-justify-content: flex-start;
    }

    @include res-max-laptop-l{
        --title-font-size: 5.6em;
        --title-mg-bottom: #{$gap-xxl}; 
    }

    @include res-max-laptop-s{
        --title-font-size: 4.8em;
    }

    @include res-max-tablet{
        --title-font-size: 4em;
        --title-mg-bottom: #{$gap-xl}; 
    }

    &--white{
        --title-color: #{$color-white};
    }

    &--s{
        --title-font-size: 4em;
    }
}

.desc{
    --border-width: 0;
    --desc-pad-left: 0;
    --desc-font-size: large;
    --desc-mg-bottom: 5rem;
    @include border('left', var(--border-width), $color-font);
    padding-left: var(--desc-pad-left);
    margin-bottom: var(--desc-mg-bottom);
    font-family:  $font-text;
    font-size: var(--desc-font-size);
    line-height: 1.7;
    color: $color-font;

    @include res-max-laptop-s{
        --desc-font-size: medium;
    }
    
    &--line{
        --desc-pad-left: #{$gap-l};
        --border-width: .2rem;
    }

    strong, a:not(.button), b, span{
        font-family: inherit;
        font-size: inherit;
    }
}