:root {
  --color-black: black;
  --color-white: white;
  --color-trans: rgba(0, 0, 0, 0);
  --color-nav: rgba(255, 255, 255, 0.9);
  --color-primary: #2db952;
  --color-primary--hover: rgba(45, 185, 82, 0.8);
  --color-secondary: #2a2c2a;
  --trans-time: 0.25s;
  --animate-all: all ease-in-out var(0.25s);
  --pad-xxl: 3.2rem;
  --pad-xl: 2.4rem;
  --pad-l: 1.6rem;
  --pad-m: 0.8rem;
  --pad-s: 0.4rem;
  --font-text: Open Sans, sans-serif;
  --font-title: rig-sans, sans-serif;
  --nav-height: 7rem; }

@font-face {
  font-family: 'Cassandra';
  src: url("../../../../wwwroot/Fonts/Cassandra.ttf") format("opentype"); }

:root {
  --color-border: rgba(0, 0, 0, 1);
  --border-width: 0.1rem; }

* {
  box-sizing: border-box; }

html {
  height: 100%;
  margin: 0;
  font-size: 62.5%; }

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-text);
  overflow-x: hidden;
  scroll-behavior: smooth; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

address {
  font-style: normal; }

:root {
  --color-border: rgba(0, 0, 0, 1);
  --border-width: 0.1rem; }

body {
  display: flex;
  flex-flow: column wrap; }
  body nav {
    flex: none; }
  body header {
    flex: 0 0 auto;
    width: 100%; }
  body main {
    flex: 1 1 auto;
    width: 100%; }
  body footer {
    flex: 0 0 auto;
    width: 100%; }

:root {
  --color-border: rgba(0, 0, 0, 1);
  --border-width: 0.1rem; }

.element-to-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.text-to-center {
  text-align: center; }

.text-to-left {
  text-align: left; }

.text-to-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.uppercase {
  text-transform: uppercase; }

.base-space {
  display: block;
  width: 100%;
  margin-bottom: 5rem; }
  @media only screen and (max-width: 1024px) {
    .base-space {
      margin-bottom: 3rem; } }

.elipsis-text {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.relative {
  position: relative; }

.tablet-content {
  display: none; }
  @media only screen and (max-width: 768px) {
    .tablet-content {
      display: block; } }

@media only screen and (max-width: 768px) {
  .no-tablet-content {
    display: none; } }

.mobile-content {
  display: none; }
  @media only screen and (max-width: 425px) {
    .mobile-content {
      display: block; } }

@media only screen and (max-width: 425px) {
  .no-mobile-content {
    display: none; } }

.overflow-hidden {
  overflow: hidden; }

.inline-flex {
  display: inline-flex; }

.inline-block {
  display: inline-block; }

:root {
  --color-border: rgba(0, 0, 0, 1);
  --border-width: 0.1rem; }

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0; }

.title {
  margin-bottom: 3.2rem;
  font-family: rig-sans, sans-serif;
  font-size: 5.6rem;
  font-weight: 400;
  color: black; }

.desc {
  --border-width: 0;
  --padding: 0;
  border-left: var(--border-width) solid var(--color-border);
  padding: var(--padding);
  padding-right: 0;
  font-size: large;
  line-height: 1.8; }
  .desc--line {
    --padding: 1.6rem;
    --border-width: .3rem; }

:root {
  --color-border: rgba(0, 0, 0, 1);
  --border-width: 0.1rem; }

.burger {
  --icon-fill: black;
  --burger-size: 5rem;
  border: var(--border-width) solid var(--icon-fill);
  position: relative;
  display: block;
  width: var(--burger-size);
  height: var(--burger-size);
  background: rgba(0, 0, 0, 0);
  cursor: pointer; }
  .burger--open {
    --icon-fill: white; }

:root {
  --color-border: rgba(0, 0, 0, 1);
  --border-width: 0.1rem; }

.container {
  width: 65%;
  min-width: 115rem;
  max-width: 1440px;
  margin: 0 auto; }
  @media only screen and (max-width: 1440px) {
    .container {
      width: 80%; } }
  @media only screen and (max-width: 1360px) {
    .container {
      width: 100%;
      min-width: 0;
      padding: 0 var(--pad-base); } }
  @media only screen and (max-width: 1360px) {
    .container--no-padding {
      padding: 0; } }
  .container--small {
    min-width: 0;
    max-width: 768px; }
    @media only screen and (max-width: 768px) {
      .container--small {
        width: 80%; } }
    @media only screen and (max-width: 425px) {
      .container--small {
        width: 100%; } }
  .container--smaller {
    width: 100%;
    min-width: 0;
    max-width: 425px; }
    @media only screen and (max-width: 768px) {
      .container--smaller {
        max-width: none; } }

.grid-container {
  display: grid;
  width: 65%;
  min-width: 115rem;
  max-width: 1440px;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr); }
  .grid-container--items-center {
    align-items: center; }
  @media only screen and (max-width: 1440px) {
    .grid-container {
      width: 80%; } }
  @media only screen and (max-width: 1360px) {
    .grid-container {
      align-items: stretch;
      width: 100%;
      min-width: 0;
      padding: 0 var(--pad-base);
      grid-gap: 3rem;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: max-content; } }

:root {
  --color-border: rgba(0, 0, 0, 1);
  --border-width: 0.1rem; }

.icon {
  --icon-size: 1.6rem;
  display: block;
  width: var(--icon-size);
  min-width: var(--icon-size);
  height: var(--icon-size);
  fill: currentColor; }

:root {
  --color-border: rgba(0, 0, 0, 1);
  --border-width: 0.1rem; }

.button {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 0.8rem;
  border: 0.2rem solid black;
  min-width: 20rem;
  padding: 1.4rem 1.6rem;
  font-family: rig-sans, sans-serif;
  font-size: large;
  font-weight: 400;
  line-height: 1;
  color: black;
  text-decoration: none;
  text-transform: uppercase; }

:root {
  --color-border: rgba(0, 0, 0, 1);
  --border-width: 0.1rem; }

:root {
  --color-border: rgba(0, 0, 0, 1);
  --border-width: 0.1rem; }

.gallery {
  --col-count: 2;
  display: grid;
  grid-gap: 2.4rem;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  grid-template-columns: repeat(var(--col-count), minmax(0.8rem, 1fr)); }
  .gallery > div {
    display: grid;
    grid-gap: 1.6rem;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    grid-template-columns: minmax(0.8rem, 1fr); }
  .gallery__layout {
    position: sticky;
    top: 0;
    height: 100vh;
    padding: 5vh 0;
    overflow: auto;
    display: grid;
    grid-gap: 7rem;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    grid-template-columns: minmax(0.8rem, 8fr) minmax(0.8rem, 5fr); }
    .gallery__layout > div:not([class]) {
      position: sticky;
      top: 20%; }
    .gallery__layout::-webkit-scrollbar {
      width: 0; }
  .gallery__item {
    --aspect-ratio: 1 / 1;
    position: relative; }
    .gallery__item--2-3 {
      --aspect-ratio: 2 / 3; }
    .gallery__item > img {
      display: block;
      width: 100%;
      cursor: pointer;
      aspect-ratio: var(--aspect-ratio); }
    .gallery__item > div {
      display: grid;
      align-items: flex-start;
      align-content: flex-start;
      justify-content: flex-start;
      grid-template-columns: minmax(0.8rem, 1fr) auto;
      padding: 0.8rem;
      column-gap: 1.6rem; }
      .gallery__item > div > small {
        font-size: small;
        text-transform: uppercase; }
      .gallery__item > div > strong {
        font-size: large;
        line-height: 1;
        text-transform: uppercase;
        grid-row-start: 2; }
      .gallery__item > div > a {
        color: black;
        text-decoration: none; }
      .gallery__item > div .icon {
        --icon-size: 2.4rem; }

:root {
  --color-border: rgba(0, 0, 0, 1);
  --border-width: 0.1rem; }

.header__container {
  --col-count: 2;
  height: 100vh;
  max-height: 2560px;
  display: grid;
  grid-gap: 3.2rem;
  align-items: stretch;
  align-content: stretch;
  justify-content: center;
  grid-template-columns: repeat(var(--col-count), minmax(1.6rem, 1fr)); }

.header__content {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  align-content: normal;
  justify-content: center;
  gap: 3.2rem; }

.header__title {
  display: grid;
  grid-gap: 1.6rem;
  align-items: stretch;
  align-content: flex-start;
  justify-content: flex-start;
  grid-template-rows: auto;
  font-size: 7rem;
  line-height: 1; }
  .header__title > * {
    line-height: inherit; }
  .header__title > h1 {
    font-family: rig-sans, sans-serif;
    font-size: 1em;
    font-weight: 300; }
  .header__title > strong {
    font-size: .4em;
    text-transform: uppercase; }
  .header__title > p {
    margin-top: 1.6rem;
    font-size: .3em;
    line-height: 1.5; }
    .header__title > p a {
      font-size: 1em;
      text-decoration: underline; }

.header__bg {
  position: relative;
  width: 70vh;
  height: 70vh;
  margin: 0 auto;
  background: radial-gradient(grey, black 60%, black);
  border-radius: 40% 60% 70% 30% / 40% 40% 60%;
  box-shadow: 3rem 3.3rem 10rem 0 rgba(0, 0, 0, 0.3); }

.header__picture {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 40% 60% 70% 30% / 40% 40% 60%;
  transform: translateX(-50%);
  overflow: hidden;
  z-index: 10; }
  .header__picture > img {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 70%;
    transform: translateX(-50%); }

.social {
  --item-size: 4rem;
  --col-count: 3;
  display: grid;
  grid-gap: 1.6rem;
  align-items: stretch;
  align-content: flex-start;
  justify-content: flex-start;
  grid-template-columns: repeat(var(--col-count), minmax(1.6rem, var(--item-size)));
  margin: 1.6rem 0; }
  .social__item {
    position: relative;
    display: block;
    width: var(--item-size);
    min-width: var(--item-size);
    height: var(--item-size);
    background: black;
    border-radius: 40% 60% 70% 30% / 40% 40% 60%;
    text-decoration: none; }
    .social__item > .icon {
      --icon-size: 2rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: white; }

.blob {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 90vw;
  max-height: 90vh; }
  .blob path {
    animation: blobAnim 20s infinite linear; }

@keyframes blobAnim {
  0% {
    d: path("M120,-157.6C152.7,-141.5,174.3,-102.6,194.8,-58.8C215.3,-14.9,234.6,33.8,228.4,80.8C222.2,127.8,190.4,173.1,148.1,184C105.8,195,52.9,171.5,-2.4,174.8C-57.8,178.2,-115.6,208.4,-137.5,190.9C-159.3,173.3,-145.3,108,-153,56.3C-160.7,4.6,-190.2,-33.4,-178.3,-54.2C-166.4,-75.1,-113.2,-78.8,-76.6,-93.6C-40,-108.3,-20,-134.2,11.9,-150.5C43.7,-166.8,87.4,-173.6,120,-157.6Z"); }
  25% {
    d: path("M67.8,-97.1C87.8,-78.8,103.8,-58.9,117.4,-34.1C130.9,-9.4,142,20.2,139.5,50.7C137,81.2,120.8,112.6,95.3,150.1C69.8,187.7,34.9,231.3,3.3,226.8C-28.2,222.2,-56.4,169.3,-91.6,134.9C-126.8,100.5,-169,84.6,-179.6,57.1C-190.2,29.7,-169.3,-9.3,-155.2,-49.7C-141,-90.1,-133.7,-132,-109,-148.8C-84.2,-165.6,-42.1,-157.3,-9.1,-144.8C23.9,-132.2,47.8,-115.5,67.8,-97.1Z"); }
  50% {
    d: path("M123.7,-157.1C162.4,-142.2,197.2,-108.8,202.8,-70.8C208.3,-32.9,184.5,9.7,169,54.2C153.6,98.7,146.4,145.2,119.7,162.7C92.9,180.2,46.4,168.6,-1.9,171.1C-50.2,173.7,-100.3,190.4,-122.2,171.3C-144.1,152.3,-137.7,97.5,-144.1,52.7C-150.6,7.9,-169.9,-26.8,-170.5,-64.8C-171,-102.8,-152.8,-144,-121.3,-161.3C-89.7,-178.5,-44.9,-171.8,-1.2,-170.1C42.5,-168.5,85,-172,123.7,-157.1Z"); }
  75% {
    d: path("M137.1,-191.3C172,-163.4,190.6,-115.7,197.2,-70.1C203.8,-24.4,198.5,19.2,178.9,51.5C159.3,83.9,125.5,105,93.3,129.6C61.1,154.1,30.6,182.1,1.1,180.6C-28.4,179.1,-56.8,148.2,-81.2,121.1C-105.6,94.1,-126.1,70.8,-141.6,41.6C-157.2,12.4,-168,-22.9,-153.9,-45C-139.8,-67,-100.7,-76,-70.9,-105.5C-41.1,-135,-20.6,-185,15.3,-206C51.1,-227.1,102.3,-219.1,137.1,-191.3Z"); }
  100% {
    d: path("M120,-157.6C152.7,-141.5,174.3,-102.6,194.8,-58.8C215.3,-14.9,234.6,33.8,228.4,80.8C222.2,127.8,190.4,173.1,148.1,184C105.8,195,52.9,171.5,-2.4,174.8C-57.8,178.2,-115.6,208.4,-137.5,190.9C-159.3,173.3,-145.3,108,-153,56.3C-160.7,4.6,-190.2,-33.4,-178.3,-54.2C-166.4,-75.1,-113.2,-78.8,-76.6,-93.6C-40,-108.3,-20,-134.2,11.9,-150.5C43.7,-166.8,87.4,-173.6,120,-157.6Z"); } }

:root {
  --color-border: rgba(0, 0, 0, 1);
  --border-width: 0.1rem; }

.nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: normal;
  justify-content: space-between;
  gap: 2.4rem;
  position: sticky;
  top: 0;
  left: 0;
  height: var(--nav-height);
  padding: 0 2.4rem;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 999; }
  .nav ul {
    padding: 0;
    list-style: none; }
  .nav__right {
    --menu-gap: 2.4rem;
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: normal;
    justify-content: flex-start;
    gap: var(--menu-gap);
    list-style: none; }
    .nav__right a {
      display: block;
      font-size: large;
      color: black;
      text-decoration: none;
      text-transform: uppercase;
      white-space: nowrap; }
      .nav__right a:hover {
        text-decoration: underline; }
  .nav__menu {
    --menu-display: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: var(--menu-display);
    width: 100vw;
    background: black;
    z-index: -1; }
    .nav__menu--open {
      --menu-display: flex; }
  .nav__options {
    --col-count: 4;
    display: grid;
    grid-gap: 2.4rem;
    align-items: stretch;
    align-content: stretch;
    justify-content: center;
    grid-template-columns: repeat(var(--col-count), minmax(1.6rem, 1fr));
    width: 90%;
    height: 100vh;
    list-style: none; }
  .nav__item {
    --text-width: 66%;
    --filter-blur: 1.6rem;
    position: relative;
    display: block;
    height: 100%;
    background: #181818;
    text-decoration: none;
    overflow: hidden; }
    .nav__item:hover {
      --filter-blur: 0; }
    .nav__item:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      content: '';
      background: url("../images/backgrounds/handpoke-bg.jpg") no-repeat center;
      filter: blur(var(--filter-blur));
      transition: filter 0.25s ease-in-out; }
    .nav__item:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, black 10%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 60%, black 90%);
      z-index: 5; }
    .nav__item > strong {
      position: absolute;
      bottom: 3.2rem;
      left: 2.4rem;
      max-width: var(--text-width);
      font-size: x-large;
      line-height: .6;
      color: white;
      white-space: break-spaces;
      z-index: 10; }

/*# sourceMappingURL=style.css.map */