:root {
  --color-black: hsl(0, 0%, 0%);
  --color-black--trans: hsla(0, 0%, 0%, 0.6);
  --color-black--trans-dark: hsla(0, 0%, 0%, 0.9);
  --color-white: hsl(0, 0%, 100%);
  --color-border: var(--color-white);
  --color-trans: hsla(0, 0%, 0%, 0);
  --color-bg: hsla(200, 18%, 8%, 0.85);
  --color-bg-nav: hsla(200, 18%, 8%, 0.25);
  --color-primary: hsl(28, 30%, 79%);
  --color-primary--hover: hsl(28, 30%, 69%);
  --color-secondary: hsl(120, 2%, 17%);
  --color-font: hsl(0, 0%, 90%);
  --trans-time: 0.25s;
  --trans-fnc: ease-in-out;
  --animate-all: all ease-in-out var(0.25s);
  --gap-xxl: 3.2rem;
  --gap-xl: 2.4rem;
  --gap-l: 1.6rem;
  --gap-m: 0.8rem;
  --gap-s: 0.4rem;
  --font-text: system-ui;
  --font-title: p22-allyson-pro, sans-serif;
  --border-width: 1px;
  --nav-height: 8rem;
}
@media only screen and (max-width: 1024px) {
  :root {
    --nav-height: 7rem;
  }
}
@media only screen and (max-width: 768px) {
  :root {
    --nav-height: 5rem;
  }
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
}
body:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("wwwroot/images/backgrounds/main-bg.webp");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.6;
  z-index: -1;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

address {
  font-style: normal;
}

body {
  display: flex;
  flex-flow: column wrap;
}
body nav {
  flex: none;
}
body header {
  flex: 0 0 auto;
  width: 100%;
}
body main {
  flex: 1 1 auto;
  width: 100%;
}
body footer {
  flex: 0 0 auto;
  width: 100%;
}

.element-to-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.uppercase {
  text-transform: uppercase;
}

.relative {
  position: relative;
}

*.overflow-hidden {
  overflow: hidden;
}

.inline-flex {
  display: inline-flex;
}

.inline-block {
  display: inline-block;
}

.invisible {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  font-size: 0;
  z-index: -999;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "p22-allyson-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p, span, small {
  font-family: system-ui;
  font-weight: 100;
}

.title {
  --title-justify-content: center;
  --title-font-size: 4em;
  --title-color: hsl(0, 0%, 90%);
  --title-mg-bottom: 2.4rem;
  --title-justify-content: flex-start;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: normal;
  justify-content: var(--title-justify-content);
  gap: 0;
  margin-bottom: var(--title-mg-bottom);
  font-family: system-ui;
  font-size: var(--title-font-size);
  color: var(--title-color);
}
@media only screen and (max-width: 1440px) {
  .title {
    --title-font-size: 3.2em;
    --title-mg-bottom: 3.2rem;
  }
}
@media only screen and (max-width: 1024px) {
  .title {
    --title-font-size: 2.4em;
  }
}
@media only screen and (max-width: 768px) {
  .title {
    --title-font-size: 4em;
    --title-mg-bottom: 2.4rem;
  }
}
@media only screen and (max-width: 425px) {
  .title {
    --title-font-size: 3.2em;
  }
}
.title--center {
  --title-justify-content: center;
}
.title--white {
  --title-color: hsl(0, 0%, 100%);
}
.title--s {
  --title-font-size: 3.2em;
}
@media only screen and (max-width: 1440px) {
  .title--s {
    --title-font-size: 2.4em;
    --title-mg-bottom: 3.2rem;
  }
}
@media only screen and (max-width: 1024px) {
  .title--s {
    --title-font-size: 1.6em;
  }
}
@media only screen and (max-width: 768px) {
  .title--s {
    --title-font-size: 3.2em;
    --title-mg-bottom: 2.4rem;
  }
}
@media only screen and (max-width: 425px) {
  .title--s {
    --title-font-size: 2.4em;
  }
}

.desc {
  --border-width: 0;
  --mg-b: 5rem;
  --desc-font-size: large;
  border-left: var(--border-width) solid hsl(0, 0%, 90%);
  padding-left: var(--desc-pad-left);
  margin-bottom: var(--mg-b);
  font-family: system-ui;
  font-size: var(--desc-font-size);
  line-height: 1.7;
  color: hsl(0, 0%, 90%);
}
@media only screen and (max-width: 1024px) {
  .desc {
    --desc-font-size: medium;
  }
}
@media only screen and (max-width: 425px) {
  .desc {
    --mg-b: 3.2rem;
  }
}
.desc--line {
  --desc-pad-left: 1.6rem;
  --border-width: .2rem;
}
.desc--no-mg {
  --mg-b: 0;
}
.desc strong, .desc a:not(.button), .desc b, .desc span {
  font-family: inherit;
  font-size: inherit;
}

.button {
  --btn-color: var(--color-white);
  --btn-bg-color: hsla(200, 18%, 8%, 0.95);
  --btn-padding-x: 3.2rem;
  --btn-padding-y: 1.6rem;
  --btn-width: 20rem;
  --btn-font-size: large;
  --icon-trans-x: 0;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 1.6rem;
  min-width: var(--btn-width);
  background-color: var(--btn-bg-color);
  border-radius: 100vmax;
  font-family: system-ui;
  font-size: var(--btn-font-size);
  font-weight: 400;
  line-height: 1;
  color: var(--btn-color);
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color var(--trans-time) var(--trans-fnc), color var(--trans-time) var(--trans-fnc), border-color var(--trans-time) var(--trans-fnc);
  cursor: pointer;
  padding-block: var(--btn-padding-y);
  padding-inline: var(--btn-padding-x);
}
@media only screen and (max-width: 1024px) {
  .button {
    --btn-padding-x: 1.6rem;
    --btn-padding-y: 1.2rem;
    --btn-font-size: medium;
    --btn-width: 16rem;
  }
}
.button:hover {
  --btn-bg-color: hsl(200, 18%, 8%);
  --btn-color: var(--color-primary);
  --icon-trans-x: 50%;
}
.button > .icon {
  transition: translate var(--trans-time) var(--trans-fnc);
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 0.5px;
  translate: var(--icon-trans-x) 3%;
}

.burger {
  --burger-display: none;
  position: relative;
  display: var(--burger-display);
  width: 2.5em;
  aspect-ratio: 8/6;
  padding: 0;
  background: none;
  border-width: 0;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .burger {
    --burger-display: block;
  }
}
.burger > span {
  --top: 50%;
  --left: 50%;
  --transX: -50%;
  --transY: -50%;
  --scaleX: 1;
  --scaleY: 1;
  --rotate: 0;
  --opacity: 1;
  position: absolute;
  top: var(--top);
  left: var(--left);
  display: block;
  width: 100%;
  height: 0.15em;
  background: var(--nav-color);
  opacity: var(--opacity);
  transform: translate(var(--transX), var(--transY)) scale(var(--scaleX), var(--scaleY)) rotate(var(--rotate));
  transition: all var(--trans-time);
}
.burger > span:first-child {
  --top: 0;
  --transY: 0;
}
.burger > span:last-child {
  --top: 100%;
  --transY: -100%;
}
.burger--open > span:nth-child(1) {
  --top: 50%;
  --transY: -50%;
  --rotate: 45deg;
}
.burger--open > span:nth-child(2) {
  --transX: -100%;
  --opacity: 0;
}
.burger--open > span:nth-child(3) {
  --top: 50%;
  --transY: -50%;
  --rotate: -45deg;
}

.container {
  --container-pad-x: 3.2rem;
  --container-width: 55%;
  --container-min-width: 1024px;
  width: var(--container-width);
  min-width: var(--container-min-width);
  padding: 0 var(--container-pad-x);
  margin: 0 auto;
}
@media only screen and (max-width: 1440px) {
  .container {
    --container-width: 75%;
    --container-min-width: 0;
  }
}
@media only screen and (max-width: 1366px) {
  .container {
    --container-width: 85%;
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    --container-width: 90%;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    --container-width: 100%;
  }
}
@media only screen and (max-width: 425px) {
  .container {
    --container-pad-x: 2.4rem;
  }
}
@media only screen and (max-width: 375px) {
  .container {
    --container-pad-x: 1.6rem;
  }
}
.container--gallery {
  --container-pad-x: 4.5vw;
}
@media only screen and (min-width: 1441px) {
  .container--gallery {
    --container-width: 100%;
    --container-min-width: 0;
  }
}
@media only screen and (max-width: 1440px) {
  .container--gallery {
    --container-pad-x: 3.2rem;
  }
}

.icon {
  --icon-size: 1.6rem;
  display: block;
  width: var(--icon-size);
  aspect-ratio: 1/1;
  fill: currentColor;
}

.link {
  --link-color: currentColor;
  --link-text-decor: none;
  --link-text-trans: none;
  --icon-trans-x: 0;
  --link-font-size: 2rem;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: stretch;
  align-content: normal;
  justify-content: flex-start;
  gap: 1.2rem;
  font-family: system-ui;
  font-size: var(--link-font-size);
  color: var(--link-color);
  text-decoration: var(--link-text-decor);
  text-transform: var(--link-text-trans);
  transition: color var(--trans-time) var(--trans-fnc);
}
@media only screen and (max-width: 768px) {
  .link {
    --trans-time: 0;
  }
}
@media only screen and (max-width: 425px) {
  .link {
    --link-font-size: large;
  }
}
@media only screen and (max-width: 375px) {
  .link {
    --link-font-size: medium;
  }
}
.link--uppercase {
  --link-text-trans: uppercase;
}
.link--primary {
  --link-color: var(--color-primary);
  --link-text-decor: underline;
}
.link--primary:hover {
  --link-color: var(--color-primary--hover);
}
.link--header {
  padding: 0.8rem 3.2rem;
}
.link:hover {
  --link-text-decor: underline;
  --icon-trans-x: 0.4rem;
}
.link > span {
  font-size: 1em;
  color: currentColor;
}
.link > .icon {
  --icon-size: 2.4rem;
  transform: translateX(var(--icon-trans-x));
  transition: transform 0.25s ease-in-out;
}
@media only screen and (max-width: 375px) {
  .link > .icon {
    --icon-size: 1.6rem;
  }
}

.logo {
  --logo-display: block;
  --logo-pad-x: 2.4rem;
  --logo-max-width: none;
  display: var(--logo-display);
  padding: 0 var(--logo-pad-x);
}
@media only screen and (max-width: 1024px) {
  .logo {
    --logo-pad-x: 0.8rem;
    --logo-max-width: 12rem;
  }
}
.logo--mobile {
  --logo-display: none;
  --logo-max-width: 14rem;
}
@media only screen and (max-width: 768px) {
  .logo--mobile {
    --logo-display: block;
  }
}
.logo > amp-img {
  display: block;
  max-width: var(--logo-max-width);
  height: auto;
}

@media only screen and (min-width: 769px) {
  ::-webkit-scrollbar {
    width: 0.8rem;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: hsl(0, 0%, 0%);
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: hsl(28, 30%, 79%);
    border-radius: 0.4rem;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: hsl(28, 30%, 69%);
  }
  .gallery__layout {
    /* Track */
  }
  .gallery__layout ::-webkit-scrollbar-track {
    background: hsla(0, 0%, 0%, 0);
  }
}
.social {
  --social-item-color: hsl(0, 0%, 90%);
  --scial-gap: 1.6rem;
  --social-display: flex;
  display: var(--social-display);
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: var(--scial-gap);
  position: absolute;
  top: 100%;
  left: 2.4rem;
  transform: translate(0, -140%);
  position: fixed;
  z-index: 999;
}
@media only screen and (max-width: 768px) {
  .social {
    --social-display: none;
  }
}
@media only screen and (max-width: 768px) {
  .social--visible {
    --social-display: flex;
  }
}
.social__item {
  --item-scale: 1;
  transition: transform var(--trans-time) var(--trans-fnc) 0s;
  position: relative;
  display: block;
  width: 3.2rem;
  min-width: 3.2rem;
  aspect-ratio: 1/1;
  text-decoration: none;
  transform: scale(var(--item-scale));
}
.social__item:hover {
  --item-scale: 1.1;
  --social-item-color: hsl(28, 30%, 79%);
  --item-color: var(--color-primary);
}
.social__item > .icon {
  --icon-size: 3.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill var(--trans-time) var(--trans-fnc) 0s;
  fill: var(--social-item-color);
}

footer {
  padding: 1.6rem;
  background-color: hsla(200, 18%, 8%, 0.95);
}
footer > .footer__copy {
  width: 100%;
  text-align: center;
}
footer > .footer__copy small {
  font-family: system-ui;
  font-size: small;
  color: hsl(0, 0%, 90%);
}

header {
  position: relative;
}

.header__container {
  --anim-length: .5s;
  --col-count: 2;
  --col-gap: 0;
  --header-height: 100vh;
  display: grid;
  align-items: stretch;
  align-content: stretch;
  justify-content: center;
  grid-template-columns: repeat(var(--col-count), minmax(1.6rem, 1fr));
  gap: var(--col-gap);
  position: relative;
  height: var(--header-height);
  max-height: 2160px;
  background-color: hsla(200, 18%, 8%, 0.95);
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .header__container {
    --col-count: 1;
    --header-height: calc(100vh - var(--nav-height));
    margin-top: var(--nav-height);
  }
}
.header__content {
  --content-gap: 10vh;
  --content-color: hsl(0, 0%, 90%);
  --content-z-index: 2;
  --bg-opacity: .55;
  --bg-blur: 0.8rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: var(--content-gap);
  position: relative;
  padding: 0 1.6rem;
  color: var(--content-color);
  text-decoration: none;
  z-index: var(--content-z-index);
}
@media only screen and (max-width: 768px) {
  .header__content {
    --content-gap: 6vh;
    --bg-blur: 2px;
    --bg-opacity: .55;
  }
}
.header__content:hover {
  --bg-opacity: .65;
  --bg-blur: 0;
}
@media only screen and (max-width: 768px) {
  .header__content:hover {
    --bg-blur: 2px;
    --bg-opacity: .55;
  }
}
.header__content--tattoo {
  --content-bg: url("wwwroot/images/backgrounds/header/tattoo.webp");
}
@media only screen and (max-width: 768px) {
  .header__content--tattoo {
    --content-bg: url("wwwroot/images/backgrounds/header/tattoo_768.webp");
  }
}
@media only screen and (max-width: 425px) {
  .header__content--tattoo {
    --content-bg: url("wwwroot/images/backgrounds/header/tattoo_425.webp");
  }
}
@media only screen and (max-width: 375px) {
  .header__content--tattoo {
    --content-bg: url("wwwroot/images/backgrounds/header/tattoo_375.webp");
  }
}
.header__content--visuals {
  --content-bg: url("wwwroot/images/backgrounds/header/visuals.webp");
}
@media only screen and (max-width: 768px) {
  .header__content--visuals {
    --content-bg: url("wwwroot/images/backgrounds/header/visuals_768webp");
  }
}
@media only screen and (max-width: 425px) {
  .header__content--visuals {
    --content-bg: url("wwwroot/images/backgrounds/header/visuals_425.webp");
  }
}
@media only screen and (max-width: 375px) {
  .header__content--visuals {
    --content-bg: url("wwwroot/images/backgrounds/header/visuals_375.webp");
  }
}
.header__content:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: var(--content-bg);
  background-position: center center;
  background-size: cover;
  opacity: var(--bg-opacity);
  filter: blur(var(--bg-blur));
  transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out;
  z-index: -1;
}
.header__content > p {
  --desc-mg-bottom: var(--content-gap);
  margin-bottom: var(--desc-mg-bottom);
  font-size: clamp(16px, 2.5vh, 2.4rem);
  font-weight: 100;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .header__content > p {
    --desc-mg-bottom: 2.4rem;
  }
}
@media only screen and (max-width: 425px) {
  .header__content > p {
    --desc-mg-bottom: 0;
  }
}
.header__title {
  --title-min-width: 36rem;
  --title-font-size: 10vh;
  --title-pad-y: 2.4rem;
  position: relative;
  min-width: var(--title-min-width);
  padding: var(--title-pad-y) 3.2rem;
  opacity: 0;
  font-family: "p22-allyson-pro", sans-serif;
  font-size: clamp(3.2rem, var(--title-font-size), 10rem);
  font-weight: 100;
  line-height: 1;
  color: currentColor;
  text-align: center;
  animation: fadeIn var(--anim-length) forwards linear;
  animation-delay: calc(var(--anim-length) / 2);
  transform: translateY(1.6rem);
}
@media only screen and (max-width: 1366px) {
  .header__title {
    --title-min-width: 30rem;
  }
}
@media only screen and (max-width: 1024px) {
  .header__title {
    --title-min-width: 25rem;
  }
}
@media only screen and (max-width: 768px) {
  .header__title {
    --title-min-width: 36rem;
  }
}
@media only screen and (max-width: 425px) {
  .header__title {
    --title-min-width: 26rem;
    --title-font-size: 8vh;
    --title-pad-y: 1.6rem;
  }
}
@media only screen and (max-width: 375px) {
  .header__title {
    --title-min-width: 22rem;
  }
}
.header__title:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  animation: showLines var(--anim-length) forwards linear;
  animation-delay: var(--anim-length);
  transform: translate(-50%, -50%) scaleX(0);
}
.header__title + p {
  opacity: 0;
  animation: fadeIn var(--anim-length) forwards linear;
  animation-delay: calc(var(--anim-length) * 1.5);
  transform: translateY(0.8rem);
}
.header__title + p + .link {
  opacity: 0;
  animation: fadeIn var(--anim-length) forwards linear;
  animation-delay: calc(var(--anim-length) * 2);
  transform: translateY(0.8rem);
}
.header__title + p + .link:hover {
  --link-color: hsl(28, 30%, 79%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0.8rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes showLines {
  from {
    transform: translate(-50%, -50%) scaleX(0);
  }
  to {
    transform: translate(-50%, -50%) scaleX(1);
  }
}
.nav {
  --nav-color: hsl(0, 0%, 90%);
  --nav-menu-display: flex;
  --nav-justify-content: center;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: var(--nav-justify-content);
  gap: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav-height);
  padding: 0 2.4rem;
  background-color: var(--color-bg-nav);
  color: var(--nav-color);
  z-index: 999;
}
@media only screen and (max-width: 768px) {
  .nav {
    --nav-justify-content: space-between;
    --color-bg-nav: hsl(200, 18%, 8%);
  }
}
.nav__logo {
  --logo-display: block;
  display: var(--logo-display);
}
@media only screen and (max-width: 768px) {
  .nav__logo {
    --logo-display: none;
  }
}
.nav__menu {
  --menu-display: grid;
  --menu-gap: 3.2rem;
  --menu-height: auto;
  --menu-bg: var(--color-trans);
  --menu-pad-top: 0;
  --menu-align-ceontent: center;
  --menu-temp-col: repeat(auto-fit, minmax(130px, auto));
  display: var(--menu-display);
  align-items: center;
  align-content: var(--menu-align-ceontent);
  justify-content: center;
  grid-template-columns: var(--menu-temp-col);
  gap: var(--menu-gap);
  width: 100%;
  height: var(--menu-height);
  padding: var(--menu-pad-top) 0 0 0;
  background-color: var(--menu-bg);
  list-style: none;
}
@media only screen and (max-width: 1024px) {
  .nav__menu {
    --menu-gap: 2.4rem;
    --menu-temp-col: repeat(auto-fit, minmax(110px, auto));
  }
}
@media only screen and (max-width: 768px) {
  .nav__menu {
    --menu-display: none;
    --menu-height: calc(100vh - var(--nav-height));
    --menu-gap: 3.2rem;
    --menu-align-ceontent: flex-start;
    --menu-bg: hsla(200, 18%, 8%, 0.95);
    --menu-pad-top: 15vh;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
@media only screen and (max-width: 768px) {
  .nav__menu--open {
    --menu-display: grid;
    --menu-temp-col: minmax(130px, 1fr);
  }
}
.nav__menu li a {
  --nav-item-min-font-size: 16px;
  transition: color var(--trans-time) var(--trans-fnc) 0s;
  display: block;
  font-family: system-ui;
  font-size: clamp(var(--nav-item-min-font-size), 2vh, 2.4rem);
  color: var(--nav-color);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}
@media only screen and (max-width: 768px) {
  .nav__menu li a {
    --nav-item-min-font-size: 18px;
  }
}
.nav__menu li a:hover {
  --nav-color: var(--color-primary);
  text-decoration: underline;
}
.nav__subparent {
  --submenu-display: none;
  position: relative;
}
.nav__subparent:hover {
  --submenu-display: block;
}
@media only screen and (max-width: 768px) {
  .nav__subparent {
    --submenu-display: block;
  }
}
.nav__submenu {
  --submenu-pad-top: 1.6rem;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -0.5rem);
  display: var(--submenu-display);
  padding: var(--submenu-pad-top) 0 0 0;
  font-size: medium;
  list-style: none;
}
@media only screen and (max-width: 768px) {
  .nav__submenu {
    --submenu-pad-top: 0;
    position: relative;
    top: auto;
    left: auto;
    transform: translate(0, 0);
  }
}
.nav__submenu > li {
  --sub-item-pad: 0.4rem 2.4rem;
  --sub-item-custom: 1.6rem;
  padding: var(--sub-item-pad);
  background-color: hsla(200, 18%, 10%, 0.85);
}
@media only screen and (max-width: 768px) {
  .nav__submenu > li {
    --sub-item-pad: 1.6rem 0;
  }
}
.nav__submenu > li:first-child {
  padding-top: var(--sub-item-custom);
}
@media only screen and (max-width: 768px) {
  .nav__submenu > li:first-child {
    --sub-item-custom: 3.2rem;
  }
}
.nav__submenu > li:last-child {
  padding-bottom: var(--sub-item-custom);
}
@media only screen and (max-width: 768px) {
  .nav__submenu > li:last-child {
    --sub-item-custom: 0;
  }
}

@keyframes showMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
section {
  --sec-bg: hsla(200, 18%, 8%, 0.85);
  --sec-pad-y: 10vh;
  padding: var(--sec-pad-y) 0;
  background-color: var(--sec-bg);
  scroll-margin-top: var(--nav-height);
}
@media only screen and (max-width: 1366px) {
  section {
    --sec-pad-y: 5rem;
  }
}
@media only screen and (max-width: 768px) {
  section {
    --sec-pad-y: 8vh;
  }
}
section.dark {
  --sec-bg: hsla(200, 18%, 8%, 0.95);
}
section.no-pt {
  padding-top: 0;
}
section.full-height {
  min-height: 100vh;
}
section.full-height > .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav + main > section:first-of-type {
  padding-top: calc(var(--sec-pad-y) + var(--nav-height));
}

/*# sourceMappingURL=style.css.map */
