@import "../base/global";

.gallery {
  --col-count: 5;
  --align-items: flex-start;
  --gap: #{$gap-xxl};
  @include grid-columns(grid, repeat(var(--col-count), minmax($gap-m, 1fr)), var(--gap), var(--align-items));

  @include res-max-laptop-m {
    --gap: #{$gap-xl};  
  }

  @include res-max-laptop-s {
    --gap: #{$gap-l};
    --col-count: 4;
  }

  @include res-max-tablet {
    --col-count: 2;
  }

  @include res-max-mobile-l {
    --col-count: 1;
    --gap: #{$gap-xl};
  }
}

.gallery-item {
  --image-scale: 1;
  position: relative;
  display: block;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  cursor: pointer;
  margin-block: 0;
  margin-inline: 0;
  &:hover{
    --image-scale: 1.05;
  }

  >amp-img{
    @include position;
    display: block;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%) scale(var(--image-scale), var(--image-scale));
    transition: transform $trans-time ease-in-out;
  }

  &__pic {
    position: relative;
    color: currentColor;
    text-decoration: none;

    > picture > img {
      display: block;
      width: 100%;
      aspect-ratio: var(--aspect-ratio);
      // filter: var(--grayscale-intensity);
      border-width: 0;
      transition: filter $trans-time ease-in-out;
      cursor: pointer;
    }
  }

  &__detail {
    @include grid-columns(grid, minmax($gap-m, 1fr) auto);
    padding: $gap-m;
    column-gap: $gap-l;

    > small {
      font-size: small;
      text-transform: uppercase;
    }

    > strong {
      font-size: large;
      line-height: 1;
      text-transform: uppercase;
      grid-row-start: 2;
    }

    > a {
      color: black;
      text-decoration: none;
    }

    .icon {
      --icon-size: #{$gap-xl};
    }
  }
}
