@import "../Base/global";

.nav {
    --nav-color: #{$color-font};
    --nav-menu-display: flex;
    --nav-justify-content: center;
    @include flex-set(flex, row, nowrap, 0, center, var(--nav-justify-content), center);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    padding: 0 $gap-xl;
    background-color: var(--color-bg-nav);
    color: var(--nav-color);
    z-index: 999;

    @include res-max-tablet {
        --nav-justify-content: space-between;
        --color-bg-nav: #{$color-bg-nav-mobile};
    }

    &__logo {
        --logo-display: block;
        display: var(--logo-display);

        @include res-max-tablet {
            --logo-display: none;
        }
    }

    &__menu {
        --menu-display: grid;
        --menu-gap: #{$gap-xxl};
        --menu-height: auto;
        --menu-bg: var(--color-trans);
        --menu-pad-top: 0;
        --menu-align-ceontent: center;
        --menu-temp-col: repeat(auto-fit, minmax(130px, auto));
        @include grid-columns(var(--menu-display), var(--menu-temp-col), var(--menu-gap), center, center, var(--menu-align-ceontent));
        width: 100%;
        height: var(--menu-height);
        padding: var(--menu-pad-top) 0 0 0;
        background-color: var(--menu-bg);
        list-style: none;

        @include res-max-laptop-s{
            --menu-gap: #{$gap-xl};
            --menu-temp-col: repeat(auto-fit, minmax(110px, auto));
        }

        @include res-max-tablet {
            --menu-display: none;
            --menu-height: calc(100vh - var(--nav-height));
            --menu-gap: #{$gap-xxl};
            --menu-align-ceontent: flex-start;
            --menu-bg: #{$color-bg-darken};
            --menu-pad-top: 15vh;
            @include position(100%, 50%, -50%, 0);
        }

        &--open {
            @include res-max-tablet {
                --menu-display: grid;
                --menu-temp-col: minmax(130px, 1fr);
            }
        }

        li a {
            --nav-item-min-font-size: 16px;
            @include transition(color);
            display: block;
            font-family: $font-text;
            font-size: clamp(var(--nav-item-min-font-size), 2vh, $gap-xl);
            color: var(--nav-color);
            text-align: center;
            text-decoration: none;
            white-space: nowrap;

            @include res-max-tablet{
                --nav-item-min-font-size: 18px;
            }
            
            &:hover {
                --nav-color: var(--color-primary);
                text-decoration: underline;
            }
        }
    }

    &__subparent{
        --submenu-display: none;
        position: relative;

        &:hover{
            --submenu-display: block;
        }

        @include res-max-tablet{
            --submenu-display: block;
        }
    }

    &__submenu{
        --submenu-pad-top: #{$gap-l};
        @include position(100%, 50%, -50%, -.5rem);
        display: var(--submenu-display);
        padding: var(--submenu-pad-top) 0 0 0;         
        font-size: medium;
        list-style: none;

        @include res-max-tablet{
            --submenu-pad-top: 0;
            @include position(auto, auto, 0, 0, relative);
        }

        > li{
            --sub-item-pad: #{$gap-s} #{$gap-xl};
            --sub-item-custom: #{$gap-l};
            padding: var(--sub-item-pad);
            background-color: $color-bg--light;

            @include res-max-tablet{
                --sub-item-pad: #{$gap-l} 0;
            }

            &:first-child{
                padding-top: var(--sub-item-custom);
                
                @include res-max-tablet{
                    --sub-item-custom: #{$gap-xxl};
                }
            }

            &:last-child{
                padding-bottom: var(--sub-item-custom);

                @include res-max-tablet{
                    --sub-item-custom: 0;
                }
            }
        }
    }
}

@keyframes showMenu {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
