@import "../base/global";

.burger {
    --icon-fill: var(--color-white);
    --burger-size: 5rem;
    position: relative;
    display: block;
    width: var(--burger-size);
    background-color: var(--color-trans);
    border-width: 0;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    
    &--open{
        --icon-fill: #{$color-white};
    }

    >.icon{
        --icon-size: #{$gap-xxl};
        @include center-item;
        fill: var(--icon-fill);
    }
}
