@import "../base/global";

.button{
    --btn-color: var(--color-primary);
    --btn-bg-color: var(--color-trans);
    --btn-border-color: var(--color-white);
    --btn-padding-x: #{$gap-xl};
    --btn-padding-y: #{$gap-l};
    --btn-width: 20rem;
    --btn-font-size: large;
    @include flex-set(inline, row, nowrap, $gap-m, center, center, center);
    @include border('def', var(--border-width), var(--btn-border-color));
    min-width: var(--btn-width);
    padding: var(--btn-padding-y) var(--btn-padding-y);
    background-color: var(--btn-bg-color);
    font-family: var(--font-highlight);
    font-size: var(--btn-font-size);
    font-weight: 400;
    line-height: 1;
    color: var(--btn-color);
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color var(--trans-time) var(--trans-fnc), color var(--trans-time) var(--trans-fnc);
    cursor: pointer;

    @include res-max-laptop-s{
        --btn-padding-x: #{$gap-l};
        --btn-padding-y: 1.2rem;
        --btn-font-size: medium;
        --btn-width: 16rem;
    }

    @include res-max-tablet{
        
    }

    &:hover{
        --btn-bg-color: #{$color-white--trans};
    }

    &--secondary{
        --btn-color: var(--color-black);
        --btn-border-color: var(--color-black);
        
        &:hover{
            --btn-bg-color: var(--color-primary);

        }
    }

    &--dark{
        --btn-color: var(--color-white);
        --btn-bg-color: var(--color-secondary); 

        &:hover{
            --btn-color: var(--color-primary);
            --btn-bg-color: var(--color-secondary);
        }
    }
}