@import "../base/global";

.button{
    @include flex-set(inline, row, nowrap, $gap-m, center, center, center);
    @include border('def', 1px , var(--color-white));
    min-width: 20rem;
    padding: $gap-l $gap-xl;
    font-family: $font-title;
    font-size: large;
    font-weight: 400;
    line-height: 1;
    color: var(--color-primary);
    text-decoration: none;
    text-transform: uppercase;
}