@import "../base/global";

.form{
    --col-count: 2;
    --textarea-height: 18vh;
    --form-gap: #{$gap-xxl};
    --form-margi-top: 5rem;
    @include grid-columns(def, repeat(var(--col-count), minmax($gap-l, 1fr)), var(--form-gap));
    width: 100%;
    margin-top: var(--form-margi-top);

    @include res-max-laptop-l{
        --form-gap: #{$gap-xl};
        --form-margi-top: #{$gap-xxl};
    }

    @include res-max-laptop-m{
        --textarea-height: 14vh;
    }

    @include res-max-laptop-s{
        --textarea-height: 18vh;
    }

    &__item{
        --border-color: currentColor;
        &--col-2{
            @include grid-col-span(var(--col-count));
        }

        >label{
            @include flex-set(def, row, nowrap, $gap-s, center);
            font-size: small;
            color: currentColor;
            text-transform: uppercase;
            &:after{
                content: attr(data-required);
            }
        }

        >input, > textarea{
            @include border('def', 0, var(--border-color));
            width: 100%;
            padding: $gap-m 0;
            border-radius: 0;
            border-bottom-width: 1px;
            font-family: $font-text;  
            font-size: medium;       
            &:focus{
                --border-color: var(--color-primary);
                outline: none;
            } 
        }   
        textarea{
            min-height: var(--textarea-height);
            max-height: var(--textarea-height);
            resize: vertical;
        } 
    }

    >input[type="submit"]{
        grid-column-start: var(--col-count);
    }
}