@import "../base/global";

.social{
    --social-item-color: var(--color-black);
    @include flex-set(def, column, wrap, $gap-xxl, center, center, center);
    position: fixed;
    top: 50%;
    right: $gap-xl;
    transform: translateY(-50%);
    z-index: 999;

    @include res-max-tablet{
        display: none;
    }
    
    &--dark{
        --social-item-color: var(--color-black);
    }

    &--menu-open{
        --social-item-color: var(--color-white);
    }

    &__item{
        --item-scale: 1;   
        @include transition(transform);
        position: relative;
        display: block;  
        aspect-ratio: 1 / 1;
        padding: $gap-l;
        text-decoration: none;
        transform: scale(var(--item-scale));
        
        &:hover{
            --item-scale: 1.1;
            --item-color: var(--color-primary);
        }
        
        > .icon{
            --icon-size: #{$gap-xl};
            @include center-item;
            @include transition(fill);
            fill: var(--social-item-color);       
        }
    }
}