@import "../base/global";

.social{
    --social-item-color: #{$color-primary};
    @include flex-set(def, column, wrap, $gap-xl, center, center, center);
    @include center-item(100%, $gap-xl, 0, calc(-140%));
    position: fixed;
    z-index: 999;

    @include res-max-tablet{
        display: none;
    }

    &__item{
        --item-scale: 1;   
        @include transition(transform);
        position: relative;
        display: block;  
        aspect-ratio: 1 / 1;
        padding: $gap-l;
        text-decoration: none;
        transform: scale(var(--item-scale));
        
        &:hover{
            --item-scale: 1.1;
            --item-color: var(--color-primary);
        }
        
        > .icon{
            --icon-size: #{$gap-xxl};
            @include center-item;
            @include transition(fill);
            fill: var(--social-item-color);       
        }
    }
}